<RadzenFooter class="my-5">
    <div class="container ">
        <div class="row rz-py-12">
            <div class="col-6 col-md-3">
                <RadzenText class="px-3" style="color: #00abf0;" Text="Gaming News"></RadzenText>
                <RadzenButton class="d-block" style="background-color: #FFF !important;text-transform: capitalize;"
                    ButtonStyle="ButtonStyle.Light" Image="Images/instagram.png" Text="Instagram">
                </RadzenButton>
                <RadzenButton class="d-block" style="background-color: #FFF !important;text-transform: capitalize;"
                    ButtonStyle="ButtonStyle.Light" Image="Images/facebook.png" Text="facebook">
                </RadzenButton>
                <RadzenButton class="d-block" style="background-color: #FFF !important;text-transform: capitalize;"
                    ButtonStyle="ButtonStyle.Light" Image="Images/twitter.png" Text="twitter">
                </RadzenButton>
                <RadzenButton class="d-block" style="background-color: #FFF !important;text-transform: capitalize;"
                    ButtonStyle="ButtonStyle.Light" Image="Images/linkedin.png" Text="linkedin">
                </RadzenButton>
            </div>

            <div class="col-6 col-md-3">
                <RadzenText TextStyle="TextStyle.DisplayH6" Text="Explore Games"></RadzenText>
                <RadzenText Text="Games"></RadzenText>
                <RadzenText Text="Rpg Games"></RadzenText>
                <RadzenText Text="MMO Games"></RadzenText>
                <RadzenText Text="Games Release Date"></RadzenText>
                <RadzenText Text="Any"></RadzenText>
            </div>
            <div class="col-6 col-md-3">
                <RadzenText TextStyle="TextStyle.DisplayH6" Text="Community"></RadzenText>
                <RadzenText Text="Discussion Forums"></RadzenText>
                <RadzenText Text="Games of Conduct"></RadzenText>
                <RadzenText Text="Contributing"></RadzenText>
                <RadzenText Text="Games Release Date"></RadzenText>
                <RadzenText Text="Any"></RadzenText>
            </div>
            <div class="col-6 col-md-3">
                <RadzenText TextStyle="TextStyle.DisplayH6" Text="Resources"></RadzenText>
                <RadzenText Text="Support"></RadzenText>
                <RadzenText Text="Contact"></RadzenText>
                <RadzenText Text="Authors"></RadzenText>
                <RadzenText Text="Be Authors"></RadzenText>
            </div>
        </div>
    </div>
</RadzenFooter>