<RadzenHeader class="header">
    <div class="row text-center">
        <div class="col-4 logo main-color">
            Gaming News
        </div>
        <div class="col-4 text-center">
            <RadzenButton style="background-color:#47494d !important" class="b-rad" Icon="add" Text="Add News">
            </RadzenButton>
            @* <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"
            AlignItems="AlignItems.Center" Gap="0">
            <RadzenIcon Icon="add" style="color:black;font-size: 32px;"></RadzenIcon>
            <RadzenLink style="color:black" Path="#">Add News</RadzenLink>
            </RadzenStack> *@
        </div>
        <div class="col-4 c_navbar">
            <RadzenIcon IconStyle="IconStyle.Dark" class="" id="navbar_icon" Icon="search"></RadzenIcon>
            <RadzenIcon IconStyle="IconStyle.Dark" class="" id="navbar_icon" Icon="notifications_active">
            </RadzenIcon>
            <RadzenIcon IconStyle="IconStyle.Dark" class="" id="navbar_icon" Icon="person_outline"></RadzenIcon>
        </div>
    </div>
</RadzenHeader>