@inject TooltipService tooltipService
<RadzenHeader>
    <div class="row text-center">
        <div class="col-4 logo main-color">
            Gaming News
        </div>
        <div class="col-4 text-center">


        </div>
        <div class="col-4 d-flex align-items-center gap-2">
            <RadzenIcon IconStyle="IconStyle.Dark" class="" id="navbar_icon" Icon="search"></RadzenIcon>
            <RadzenIcon IconStyle="IconStyle.Dark" class="" id="navbar_icon" Icon="notifications_active">
            </RadzenIcon>
            <RadzenIcon IconStyle="IconStyle.Dark" class="" id="navbar_icon" Icon="person_outline"></RadzenIcon>
            <RadzenImage style="height: 20px;" class="img-fluid " Path="Images/add.png"></RadzenImage>
        </div>
    </div>
</RadzenHeader>
@code {


}