@inherits LayoutComponentBase
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<style>
    * {
        margin: 0;
        padding: 0;
        overflow: 0;
        box-sizing: border-box;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        scroll-behavior: smooth !important;
    }

    body {
        background-color: #F2F4FA;
    }

    .b-rad {
        border-radius: 30px !important;
    }

    .c_text {
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 0.1rem;

    }

    .m-80 {
        margin-top: 80px;
    }

    .b-none {
        cursor: pointer;
        display: flex;
        border: none !important;
        text-decoration: none !important;
        box-shadow: none !important;
        background-color: #EEF2FF !important;
    }

    .card-text-mx {
        margin-left: 100px;
        margin-right: 100px;
    }

    .custom-title-font {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: .2rem;
        font-family: monospace;
    }
</style>
<main>
    @Body
</main>