@layout HomeLayout
@page "/addnews"
@inject DialogService DialogService

<div class="container my-50">
    <div class="row">
        <div class="editor">
            <RadzenHtmlEditor Style="height: 80vh; color: black;"></RadzenHtmlEditor>
        </div>
    </div>
</div>
@code {

}