@layout HomeLayout
@page "/addnews"
@inject DialogService DialogService
@inject NotificationService NotificationService

<div class="container my-50">
    <div class="row justify-content-center align-items-center">
        <RadzenCard class="b-rad text-center p-0">
            <RadzenText class="mt-4" Text="Add a cover image"></RadzenText>
            <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                <div class="col-8 p-3 b-rad" style="border: 2px dashed gray">
                    <RadzenIcon style="color: gray;" Icon="collections" />
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text="Upload a file"></RadzenText>
                    <RadzenUpload Multiple="true" Accept="image/*" Url="upload/multiple"
                        Progress="@(args => OnProgress(args, "Images only upload"))" class="w-50" />
                </div>
                <div class="col-8">
                    <RadzenSplitButton class="b-rad" ButtonStyle="ButtonStyle.Light" data-bs-toggle="modal" data-bs-target="#exampleModal" Text="Choose Category"
                        Shade="Shade.Lighter" Variant="Variant.Outlined">
                    </RadzenSplitButton>
                </div>
                <div class="col-8">
                    <RadzenTextArea id="title-text-area" Placeholder="New post title here..." class=" w-100">
                    </RadzenTextArea>
                    <RadzenTextArea style="border: none;" class="w-100" Placeholder="Add tags(0/5)..."></RadzenTextArea>
                </div>
                <div class="editor col-12 my-2">
                    <hr style="color: gray;">
                    <RadzenText style="font-size:36px;color: gray;letter-spacing: 0.01px;word-spacing: 20px;"
                        TextStyle="TextStyle.Overline" Text="Post . Content . Area"></RadzenText>
                    <RadzenHtmlEditor class="w-100" Style="height: 80vh; color: black;"></RadzenHtmlEditor>
                </div>
            </RadzenStack>
            <hr style="color: gray;">
            <div class="my-4">
                <RadzenButton class="b-rad" style="text-transform: capitalize;" ButtonStyle="ButtonStyle.Primary"
                    Text="publish"></RadzenButton>
                <RadzenButton class="b-rad" Variant="Variant.Filled" style="text-transform:none;"
                    ButtonStyle="ButtonStyle.Light" Text="Save draft"></RadzenButton>
            </div>
        </RadzenCard>
    </div>
</div>
<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header ">
                <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Choose Categories(5/5)</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-2 row-cols-1 g-3">
                @for (int i = 0; i < 14; i++)
                {
                    <div class="col">
                    <RadzenButton style="border:1px solid #F4F3F6" ButtonStyle="@buttontype" Variant="Variant.Outlined" Shade="Shade.Darker" class="w-100 b-rad" Image="Images/40x40.jpg" Text="Meliodas" Click="@(()=>{
                        buttontype = buttontype == ButtonStyle.Light ? ButtonStyle.Primary : ButtonStyle.Light;
                    })" ></RadzenButton>
                    </div>
                }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    ButtonStyle buttontype = ButtonStyle.Light;
    void OnProgress(UploadProgressArgs args, string name)
    {

    }
}