@page "/home"
@layout Shared.HomeLayout
<section id="populer_post">
    <div class="row m-5">
        <div class="col-12">
            <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                <div id="img-items">
                    <RadzenImage class="populer-img b-rad img-fluid mx-auto" Path="Images/bg2.jpg">
                    </RadzenImage>
                    <div class="col-8" id="img-item">
                        <RadzenText class="text-color" TextStyle="TextStyle.DisplayH4">Lenovo Smarter than
                            the other
                            technologies</RadzenText>
                        <RadzenText class="text-color" style="position: relative;"> Lorem, ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Tempore,
                            deleniti dolor
                        </RadzenText>
                        voluptatem laboriosam porro nam numquam cumque adipisci optio? Atque.<RadzenButton
                            class="b-rad d-block" ButtonStyle="ButtonStyle.Info" Text="Read more">
                        </RadzenButton>
                    </div>
                </div>
                <div class="container" style="margin-top: -4.5rem;z-index:1;">
                    <div class="row justify-content-center row-cols-lg-4 row-cols-md-2 row-cols-1 g-2">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="col">
                                <RadzenCard style="background-color: #F8F8F8;" Class="card-shadow b-rad ">
                                    <RadzenText TextStyle="TextStyle.Body2" class="rz-display-flex rz-mt-2 rz-my-0">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, temporibus!
                                    </RadzenText>
                                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                                        Gap="1rem" Class="rz-p-4">
                                        <RadzenImage Path="Images/user.jpg"
                                            Style="width: 50px; height: 50px; border-radius: 50%;" />
                                        <RadzenStack Gap="0">
                                            <RadzenText TextStyle="TextStyle.Caption"><b>Hanna Jager</b></RadzenText>

                                            <RadzenText TextStyle="TextStyle.Caption"><b>May-12-23</b>
                                            </RadzenText>
                                        </RadzenStack>
                                    </RadzenStack>
                                </RadzenCard>
                            </div>
                        }
                    </div>
                </div>
            </RadzenStack>
        </div>
    </div>
</section>
<section id="top_trending_games">



    <div class="container">
        <RadzenText class="text-title-style">Top Trending Games</RadzenText>
        <RadzenText class="d-block my-3" TextStyle="TextStyle.Caption ">Discover trend
            games</RadzenText>
        <div class="row ">


            @for (int i = 0; i < 4; i++)
            {
                <div class="col-12 col-md-4 col-lg-3 col-sm-6">
                    <RadzenCard
                        style="border:none !important;box-shadow:none !important;background-color:transparent;padding: 0;"
                        Class="b-rad card-shadow">
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                            Class="rz-p-4">
                            <div style="position: relative;">
                                <RadzenImage class="b-rad" Path="Images/square.jpg" Style="width: 100%; height: 100%; " />
                                <RadzenStack style="position: absolute;top:10px;right: 10px;" Gap="0">
                                    <RadzenButton class="b-rad" ButtonStyle="ButtonStyle.Light">13</RadzenButton>
                                </RadzenStack>
                                <RadzenStack Style="position: absolute;top:45%;left:35%"
                                    JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                                    <RadzenButton class="b-rad" ButtonStyle="ButtonStyle.Light">MMORPG
                                    </RadzenButton>
                                </RadzenStack>
                            </div>
                        </RadzenStack>
                    </RadzenCard>
                </div>
            }
        </div>
    </div>
</section>
<section id="most-populer-game-video">
    <hr style="color:#aaaaaa">
    <div class="container">
        <div class="row my-50 row-cols-1  row-cols-md-2 ">
            <div class="col">
                <RadzenText class="text-title-style-2 ">GTA 8 KANANDRES
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Body2">Lorem ipsum dolor sit amet consectetur,
                    adipisicing
                    elit. Eos, doloribus recusandae nulla deleniti excepturi nisi explicabo assumenda dolor
                    optio vel illum repudiandae ducimus provident deserunt ut facere incidunt animi dolores
                    dolorem sed ipsam inventore cumque suscipit alias! Eum reiciendis iusto, dignissimos
                    doloribus deserunt illum harum! Officiis, repellendus! Expedita, corporis saepe.
                </RadzenText>
            </div>
            <div class="col mt-3">
                <video src="videos/video.mp4" Play="OnPlay" class="w-100 b-rad" style="max-width:800px;"
                    controls="controls">
                </video>
            </div>
        </div>
    </div>
</section>
<section id="latest-articles">
    <div class="container my-50">
        <div class="row ">
            <div class="col-12 col-lg-8 ">
                <RadzenText TextStyle="TextStyle.DisplayH5">Latest Articles</RadzenText>
                <RadzenText>Discover the most outstanding articles in all topics of life.</RadzenText>
                <div class="row g-1">

                    @for (int i = 0; i < 8; i++)
                    {
                        <div class="col-12 col-md-6 position-relative">
                            <RadzenCard class="bg-transparent text-center">
                                <RadzenImage class="b-rad img-fluid" Path="Images/square2.jpg"></RadzenImage>
                            </RadzenCard>
                            <div style="position: absolute;bottom:60px;left:50px;">
                                <RadzenText style="color:#FFF !important;" TextStyle="TextStyle.Body2">
                                    Lorem ipsum dolor sit amet.
                                </RadzenText>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <RadzenCard style="background-color: #F3F4F6;" class="b-rad">
                    <div class="d-flex justify-content-between">
                        <RadzenText class="d-inline-block" TextStyle="TextStyle.H6">More tags</RadzenText>
                        <RadzenLink style="text-decoration:none !important;color:#4338CA" Path="#" Text="View all">
                        </RadzenLink>
                    </div>
                    <hr style="color:#aaaaaa">
                    <RadzenButton class="custom-btn m-1">Tag(12)</RadzenButton>
                    <RadzenButton class="custom-btn m-1">Tag(14)</RadzenButton>
                    <RadzenButton class="custom-btn m-1">Tag(15)</RadzenButton>
                    <RadzenButton class="custom-btn m-1">Tag(123)</RadzenButton>
                    <RadzenButton class="custom-btn m-1">Tag(13)</RadzenButton>
                    <RadzenButton class="custom-btn m-1">Tag(16)</RadzenButton>
                    <RadzenButton class="custom-btn m-1">Tag(18)</RadzenButton>
                </RadzenCard>
                <RadzenCard style="background-color: #F3F4F6;" class="my-4 b-rad">
                    <div class="d-flex justify-content-between">
                        <RadzenText class="d-inline-block" TextStyle="TextStyle.H6">Discover Authors</RadzenText>
                        <RadzenLink style="text-decoration:none !important;color:#4338CA" Path="#" Text="View all">
                        </RadzenLink>
                    </div>
                    <hr style="color:#aaaaaa">
                    @for (int i = 0; i < 4; i++)
                    {
                        <RadzenCard style="cursor: pointer;" class="bg-transparent">
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                                Gap="0.5rem">
                                <RadzenImage Path="Images/user.jpg"
                                    Style="width: 50px; height: 50px; border-radius: 50%;" />
                                <RadzenStack Gap="0">
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex  rz-my-0">
                                        <b>Jaw ard</b>
                                    </RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1">Author job</RadzenText>

                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                        <hr style="color:#aaaaaa">
                    }
                </RadzenCard>
                <RadzenCard style="background-color: #F3F4F6;" class="b-rad my-4">
                    <div class="d-flex justify-content-between">
                        <RadzenText class="d-inline-block" TextStyle="TextStyle.H6">More tags</RadzenText>
                        <RadzenLink style="text-decoration:none !important;color:#4338CA" Path="#" Text="View all">
                        </RadzenLink>
                    </div>
                    <hr style="color:#aaaaaa">
                    @for (int i = 0; i < 4; i++)
                    {
                        <RadzenCard class="bg-transparent" style="height:130px;">
                            <div style="position: relative;">
                                <RadzenImage Path="Images/user.jpg"
                                    Style="width: 40px; height: 40px; border-radius: 50%;" />

                                <RadzenText class="d-inline-block" TextStyle="TextStyle.Body1">Jaw Ard</RadzenText>
                                <RadzenText class="d-block">asdjklasjdasdjklasdjklhasdjkl</RadzenText>
                                <div id="populer-post-img" style="position:absolute;right:0;top:0;">
                                    <RadzenImage class="b-rad" Path="Images/smallSquare2.jpg"></RadzenImage>
                                </div>
                            </div>
                        </RadzenCard>
                        <hr style="color:#aaaaaa">
                    }
                </RadzenCard>

            </div>
        </div>

    </div>
</section>
@code {
    void OnPlay(VideoState state)
    {
        var url = state.CurrentSrc;
        // do something with this
    }
    void OnTimeUpdate(VideoState state)
    {
        var url = state.CurrentSrc;
        var currentTime = state.CurrentTime;
        // do something with this
    }
}