@page "/home"
@layout Shared.HomeLayout



<section id="populer_post">
    <div class="row">
        <div class="col-12">
            <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                <RadzenImage class="populer-img" Path="Images/bg2.jpg">
                </RadzenImage>
                <div id="img-items">
                    <RadzenText id="img-item"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
                        deleniti dolor
                        voluptatem laboriosam porro nam numquam cumque adipisci optio? Atque.</RadzenText>
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Read more">
                    </RadzenButton>
                </div>
            </RadzenStack>
        </div>
    </div>
</section>