@page "/home"
@layout Shared.HomeLayout



<section id="populer_post">
    <div class="row m-5">
        <div class="col-12">
            <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                <RadzenImage class="populer-img b-rad img-fluid" Path="Images/bg2.jpg">

                </RadzenImage>
                <div class="d-flex">
                    <div class="col-3 rz-mx-12">
                        <RadzenCard Class="rz-background-color-base-200 card-shadow">
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                                Gap="1rem" Class="rz-p-4">
                                <RadzenImage Path="Images/user.jpg"
                                    Style="width: 100px; height: 100px; border-radius: 50%;" />
                                <RadzenStack Gap="0">
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                        Employee</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">
                                        Company</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b>
                                    </RadzenText>
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    </div>
                    <div class="col-3 rz-mx-12">
                        <RadzenCard Class="rz-background-color-base-200 card-shadow">
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                                Gap="1rem" Class="rz-p-4">
                                <RadzenImage Path="Images/user.jpg"
                                    Style="width: 100px; height: 100px; border-radius: 50%;" />
                                <RadzenStack Gap="0">
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                        Employee</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">
                                        Company</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b>
                                    </RadzenText>
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    </div>
                    <div class="col-3 rz-mx-12">
                        <RadzenCard Class="rz-background-color-base-200 card-shadow">
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                                Gap="1rem" Class="rz-p-4">
                                <RadzenImage Path="Images/user.jpg"
                                    Style="width: 100px; height: 100px; border-radius: 50%;" />
                                <RadzenStack Gap="0">
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                        Employee</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">
                                        Company</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b>
                                    </RadzenText>
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    </div>
                </div>
                <div id="img-items">
                    <div>
                        <RadzenText class="text-color" TextStyle="TextStyle.DisplayH4">Lenovo Smarter than
                            the other
                            technologies</RadzenText>
                        <RadzenText class="text-color" style="position: relative;"> Lorem, ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Tempore,
                            deleniti dolor
                            voluptatem laboriosam porro nam numquam cumque adipisci optio? Atque.<RadzenButton
                                class="b-rad" id="img-item" ButtonStyle="ButtonStyle.Info" Text="Read more">
                            </RadzenButton>
                        </RadzenText>
                    </div>
                </div>
            </RadzenStack>
        </div>
    </div>
</section>
<section id="top_trending_games">

    <div id=""></div>
    <RadzenText class="text-title-style">Top Trending Games</RadzenText>
    <RadzenText class="d-block my-3" TextStyle="TextStyle.Caption ">Discover trend
        games</RadzenText>

    <div class="row d-flex">
        <div class="col-12 d-flex">
            <div class="col-3">
                <RadzenCard Class="rz-background-color-base-200 card-shadow">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                        Class="rz-p-4">
                        <RadzenImage Path="Images/user.jpg" Style="width: 100px; height: 100px; border-radius: 50%;" />
                        <RadzenStack Gap="0">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                Employee</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">
                                Company</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b>
                            </RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            </div>
            <div class="col-3">
                <RadzenCard Class="rz-background-color-base-200 card-shadow">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                        Class="rz-p-4">
                        <RadzenImage Path="Images/user.jpg" Style="width: 100px; height: 100px; border-radius: 50%;" />
                        <RadzenStack Gap="0">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                Employee</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">
                                Company</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b>
                            </RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            </div>
            <div class="col-3">
                <RadzenCard Class="rz-background-color-base-200 card-shadow">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                        Class="rz-p-4">
                        <RadzenImage Path="Images/user.jpg" Style="width: 100px; height: 100px; border-radius: 50%;" />
                        <RadzenStack Gap="0">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                Employee</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">
                                Company</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b>
                            </RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            </div>
            <div class="col-3">
                <RadzenCard Class="rz-background-color-base-200 card-shadow">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                        Class="rz-p-4">
                        <RadzenImage Path="Images/user.jpg" Style="width: 100px; height: 100px; border-radius: 50%;" />
                        <RadzenStack Gap="0">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                Employee</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">
                                Company</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Deneme</b>
                            </RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            </div>
        </div>
    </div>
</section>

@code {



}